@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --e-global-color-primary: #c9a631;
  --e-global-color-secondary: #2c3740;
  --e-global-color-text: #000000;
  --e-global-color-accent: #ffffff;
  --e-global-typography-primary-font-family: "Plus Jakarta Sans";
  --e-global-typography-primary-font-size: 45px;
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Plus Jakarta Sans";
  --e-global-typography-secondary-font-size: 35px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Plus Jakarta Sans";
  --e-global-typography-text-font-size: 18px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Plus Jakarta Sans";
  --e-global-typography-accent-font-size: 16px;
  --e-global-typography-accent-font-weight: 500;
  --wpforms-field-border-radius: 8px;
  --wpforms-label-error-color: #c9a631;
  --wpforms-button-background-color: #c9a631;
  --wpforms-field-size-input-height: 43px;
  --wpforms-field-size-input-spacing: 15px;
  --wpforms-field-size-font-size: 16px;
  --wpforms-field-size-line-height: 19px;
  --wpforms-field-size-padding-h: 14px;
  --wpforms-field-size-checkbox-size: 16px;
  --wpforms-field-size-sublabel-spacing: 5px;
  --wpforms-field-size-icon-size: 1;
  --wpforms-label-size-font-size: 16px;
  --wpforms-label-size-line-height: 19px;
  --wpforms-label-size-sublabel-font-size: 14px;
  --wpforms-label-size-sublabel-line-height: 17px;
  --wpforms-button-size-font-size: 17px;
  --wpforms-button-size-height: 41px;
  --wpforms-button-size-padding-h: 15px;
  --wpforms-button-size-margin-top: 10px;
}

/* scroll css start */
::-webkit-scrollbar {
  width: 10px;
}

li {
  list-style: none;
  font-size: 16px;
  color: #5e6075;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

/* .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {

} */
/* @media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
} */
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--e-global-color-primary);
  border-radius: 10px;
}

/* scroll css end */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

@keyframes infiniteScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    /* Scale to 150% of original size */
  }

  100% {
    transform: scale(1);
    /* Back to original size */
  }
}

/* html {
  overflow-x: hidden ;
} */
address,
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

select {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #5e6075;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: #5e6075;
}

p {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-accent-font-family), Cinzel serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
}

.btn1 {
  display: inline-block;
  background: var(--e-global-color-primary);
  line-height: 1;
  font-size: var(--e-global-typography-accent-font-size);
  font-family: var(--e-global-typography-accent-font-family), Cinzel serif;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 5px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all 0.3s;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* top header */

.top-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 20px;
  background: #2c3740;
}

.top-header a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.top-header i {
  color: #c9a631;
}

.top_social_icons i {
  font-size: 19px;
}

/* top header */

/* header */

header {
  position: relative;
  width: 100%;
  padding: 0 0 10px 0;
  z-index: 99;
  background: #ff792f00 !important;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.navbar-toggler {
  border: none;
}

.navbar-brand img {
  animation: infiniteScale 2s infinite;
}

.logo img {
  width: 320px;
}

header ul li.nav-item a {
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  z-index: 80;
  padding-bottom: 5px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  gap: 16px;
}

header ul li.dropdown a {
  padding-right: 18px !important;
  padding-left: 5px !important;
}

header ul li.dropdown a::after {
  content: "\f078";
  font-family: "Font Awesome 6 Pro";
  font-size: 12px;
  color: #000;
  position: absolute;
  right: 0;
  top: 10px;
}

/* header li.nav-item {
  padding: 0 20px 0 0px;
} */

header li.nav-item a {
  padding-left: 10px;
  padding-right: 10px;
}

ul.navbar-nav li a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background: #c9a631;
  transition: 0.5s;
}

ul.navbar-nav li a:hover:before {
  width: 100%;
}

header .right-head {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 0 0 0 100px;
}

.dropdown-menu.MegaMenu h4 {
  color: #000000;
  font-size: 18px;
  padding: 10px 0 15px 0;
  margin: 0 25px 0;
  border-bottom: 1.5px solid #df560961;
}

.dropdown-menu.MegaMenu a::before {
  display: none;
}

.dropdown-menu.MegaMenu h5,
.dropdown-menu.MegaMenu a {
  font-family: "Poppins";
  line-height: 22.5px;
  padding: 14px 25px;
  font-weight: 400;
  color: #000;
  display: flex;
  align-items: center;
  gap: 17px;
  letter-spacing: 0px;
  font-size: 15px;
  color: #333333;
}

.dropdown-menu.MegaMenu h5 i,
.dropdown-menu.MegaMenu a i {
  font-size: 22px;
}

div#navbarSupportedContent {
  justify-content: end;
  align-items: baseline;
}

.dropdown-menu.MegaMenu_menu h4 {
  color: #000000;
  font-size: 18px;
  padding: 10px 0 15px 0;
  margin: 0 25px 0 0;
  border-bottom: 1.5px solid #df560961;
}

header .navbar li.dropdown:hover > .MegaMenu_menu {
  display: block !important;
  min-width: 190px;
  left: 0;
  top: 30px;
  padding: 12px 0 20px;
  background: none;
  border-radius: unset;
  background-color: transparent;
  border: none;
  z-index: 0;
}
header .navbar li.dropdown.exclusive:hover > .MegaMenu_menu {
  right: 0;
  left: unset;
}

header .navbar li.dropdown.inner_dropdown1st:hover > .MegaMenu_menu {
  right: 100%;
  top: -150px;
  left: unset;
}

li.nav-item.dropdown.inner_dropdown1st a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.nav-item.dropdown.inner_dropdown1st > .dropdown-menu ul {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 350px;
}

li.nav-item.dropdown.inner_dropdown1st a i {
  font-size: 12px;
}

.dm_inner {
  background: #fff;
  /* padding: 15px 20px; */
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

header .navbar li.dropdown .MegaMenu_menu {
  float: left;
  margin: 0 0 10px 0;
  transition: 0.5s;
}

header .navbar li.dropdown .MegaMenu_menu li {
  display: block;
  padding: 0 10px;
  margin: 15px 0;
}

.dropdown-menu.MegaMenu_menu a i {
  font-size: 21px;
}

header .navbar li.dropdown .MegaMenu_menu a:after {
  content: unset !important;
}

header .navbar li.dropdown .MegaMenu_menu a {
  color: #363636 !important;
  border: none;
  background: transparent;
  transition: 0.4s all ease-in-out;
  text-transform: capitalize;
  display: block !important;
  font-family: "Manrope";
  line-height: 22.5px;
  letter-spacing: 0px;
  font-size: 16px;
  display: flex !important;
  gap: 10px;
  white-space: nowrap;
  font-weight: 500;
  /* margin: 15px 0 !important; */
}

.social_menu_header p {
  color: #333333;
}

.social_menu_header span i {
  font-size: 30px;
}

.social_menu_header span .fa-skype {
  color: #26a9e1;
}

.social_menu_header span .fa-envelope {
  color: var(--e-global-color-primary);
}

.social_menu_header span .fa-envelope {
  color: var(--e-global-color-primary);
}

.social_menu_header span .fa-whatsapp {
  color: #0d9f16;
}

.social_menu_header .sm_follow {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.social_menu_header .sfm_bottom {
  background-color: transparent;
  padding: 20px !important;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  gap: 17px;
  letter-spacing: 0px;
  font-size: 15px;
  color: #333333;
  font-family: "Poppins";
  line-height: 22.5px;
  /* padding: 14px 25px; */
  font-weight: 400;
}

.social_menu_header .sm_follow_main .sfm_bottom {
  padding: 10px 20px !important;
}

.smf_inner.social_icon_link a {
  padding: 0 !important;
  background-color: unset !important;
  box-shadow: unset !important;
}

.sm_follow span {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm_follow span i {
  color: #fff;
  font-size: 17px !important;
}

/* header end */

/* start banner  */
section.banner-section.home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/peakpx-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 135px;
}

section.banner-section {
  padding: 70px 0;
}

.banner_content {
  padding-right: 50px;
}

.banner_content h4 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-accent-font-family), Cinzel serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
}

.banner_content h1 {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 15px 0;
}

.banner_content p {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 16px;
  font-weight: 500;
}

/* services cards section */
.services_cards_section {
  margin-top: -80px;
  padding-bottom: 100px;
}

.service_card_item {
  overflow: hidden;
  position: relative;
  transition: all 0.6s ease-in-out;
}

.service_card_item:hover .services_card_hover_layer {
  top: 0;
  transition: all 0.6s ease-in-out;
}

.services_card {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  justify-content: flex-start;
  text-align: center;
  padding: 35px 33px;
  color: #fff;
  text-align: left;
  height: 320px;
  background-color: #fff;
}

.services_card h3 {
  margin-bottom: 20px;
  color: var(--e-global-color-primary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 35px;
  font-weight: 600;
}

.services_card_overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/ser_img_overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 40px;
  padding-right: 40px;
}

.services_card_overlay h2 {
  margin-bottom: 20px;
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 41px;
}

.services_card_overlay h2 a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
}

.services_card_overlay p {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  word-spacing: 0px;
}

.services_card_hover_layer {
  height: 320px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/bus_hover.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding: 35px;
  color: #fff;
  text-align: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: -320px;
  transition: all 0.6s ease-in-out;
}

.services_card_hover_layer h3 {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 35px;
  font-weight: 600;
}

/* services cards section */
.las_left {
  margin: 20px 20px 20px 20px;
  padding: 10px;
}

.little_about_section.desert .las_left {
  margin-left: 10px;
}

.little_about_section.desert {
  padding-top: 100px;
}

.little_about_section {
  padding: 100px 0;
}

.little_about_section h2,
.little_about_section h4 {
  margin-bottom: 20px;
}

/* end banner  */
.heading {
  text-align: center;
}

.title,
.title span {
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2c3740;
  margin-bottom: 15px;
}

.title span {
  color: var(--e-global-color-primary);
}

.heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-accent-font-family), Cinzel serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: 1.3em;
}

.heading-title2 {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 41px;
}
.heading-title3 {
  color: var(--e-global-color-secondary) !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 1.3em !important;
  font-family: "Plus Jakarta Sans", Cinzel serif !important;
}

.para {
  font-family: var(--e-global-typography-text-font-family), Cinzel serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.las_right > img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
}

.las_right2 > img {
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
}

.lr_bottom {
  margin-top: -70px;
  z-index: 1111;
  position: relative;
}

.lrb1 {
  box-shadow: 0px 0px 50px -8px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 12px 12px 12px 12px;
  padding: 35px 20px 20px 20px;
  position: relative;
  width: 30%;
  flex-wrap: wrap;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: var(--e-global-color-accent);
  justify-content: center;
}
.lrb1.luxuary h2 {
  font-size: 27px;
}
.lrb1 h2 {
  margin-bottom: 20px;
  color: var(--e-global-color-primary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}

.lrb1 h3 {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-align: center;
}

.lr2 {
  padding: 10px;
  width: 70%;
}

.lr2 > img {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 50px -8px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
  height: 100%;
  object-fit: cover;
}

/* our services */
section.our_services {
  padding: 50px 0 100px;
}

.os_card_top_img img {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
}

.os_card_content {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-secondary);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  background: #fff;
}

.os_card_content .os_card_top {
  display: flex;
  align-items: center;
  margin: 0px 20px 20px 20px;
}

.serv .os_card_content .os_card_top {
  flex-direction: row-reverse;
}

.os_card_top i {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
  font-size: 38px;
  margin-right: var(--icon-box-icon-margin, 15px);
  margin-left: 0;
  margin-bottom: unset;
}

.serv .os_card_top i {
  margin: 0;
}

.button_exp {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button_exp a {
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 28px;
  font-weight: 500;
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  padding: 4px 24px;
  padding-bottom: 5px;
  gap: 50px;
  display: flex;
}

.os_card_content h4 {
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1px;
  color: var(--e-global-color-text);
  flex-grow: 1;
}

.os_other_services {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 12px 12px 12px 12px;
  --e-column-margin-right: 12px;
  --e-column-margin-left: 12px;
  padding: 35px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.os_cards_container {
  padding: 95px 0px 0 0;
}

.os_other_services h2 {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 20px;
}

.os_other_services h2 span {
  color: var(--e-global-color-primary);
  margin-bottom: 20px;
}

.os_other_services h4 {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  margin-bottom: 20px;
}

.os_other_services span i {
  font-size: 28px;
  font-weight: 500;
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
}

/* our services */

/* any question */
.any_question {
  min-height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/peakpx-scaled.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
}

.aq_inner {
  background-color: #c9a63147;
  border-radius: 15px;
  padding: 50px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  text-align: center;
}

.aq_inner h2 {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 20px;
}

.aq_inner p {
  color: var(--e-global-color-accent);
}

/* any question */

/* footer */
footer {
  background-color: var(--e-global-color-secondary);
  padding: 60px 0 0;
}

.footer_column {
  padding-right: 75px;
}

.footer_column form {
  margin-top: 50px;
}

.footer_column h3 {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.footer_column h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 1px;
  border-radius: 3px;
  background-color: var(--e-global-color-primary);
}

.footer_column p {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 14px;
  font-weight: 400;
}

.footer_column input {
  background-color: var(--e-global-color-accent);
  border-radius: var(--wpforms-field-border-radius);
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid transparent;
  padding: 0 var(--wpforms-field-size-padding-h);
  font-size: var(--wpforms-field-size-font-size);
  line-height: 100%;
  box-shadow: none;
  transition: border 0.15s, box-shadow 0.15s;
  width: 100%;
  padding: 13px;
  border-radius: 5px;
}

.footer_column input:focus {
  border: 1px solid var(--wpforms-button-background-color);
  box-shadow: 0 0 0 1px var(--wpforms-button-background-color),
    0px 1px 2px rgba(0, 0, 0, 0.15);
  outline: none;
  color: var(--wpforms-field-text-color);
}

.footer_bottom {
  margin-top: 90px;
  border-top: 1px solid var(--e-global-color-primary);
  padding: 30px 0;
}

.footer_bottom p {
  text-align: center;
  color: var(--e-global-color-accent);
}

/* footer */

/* about us */
.banner-section2.director {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/director_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-section2.about {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.banner-section2.coperate {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/coperate_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.banner-section2.desert_safari {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/desert-safari_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.banner-section2.school_bus {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/school_bus_img6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.banner-section2.rental_bus {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/bus_rental_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.banner-section2.rental_bus_abudhabi {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/bus_rental__abu_dhabi_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.banner-section2.rental_dubai {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/desert-safari_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.banner-section2.fleet_bus1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/fleet_bus_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.banner-section2.fleet_car {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/fleet_car_bg.jpg);
  background-position: bottom center;
  background-size: cover;
}

.banner-section2.airport_service {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/traffic_service_bg.jpg);
  background-position: center center;
  background-size: cover;
}
.banner-section2.limousine-transport {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/limousine-transport_bg.jpg);
  background-position: center center;
  background-size: cover;
}
.banner-section2.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/contact-us-form-banner.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: unset;
}

.banner-section2 {
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.banner-section2 h1 {
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: var(--e-global-color-accent);
}

.little_about_section.about p {
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 14px;
  font-weight: 400;
}

/* about us */

/* mission vision */
.mission_vision {
  padding: 50px 0 100px;
}

.mission_vision.director {
  padding-top: 100px;
}

.mv_left {
  display: flex;
  justify-content: center;
}

.mv_left img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
}

.mv_right p,
.mv_right li {
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

.mv_right h4,
.mv_right h2,
.mv_right p {
  margin-bottom: 20px;
}

.mv_right h3 {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 20px;
}
.mv_right ul li {
  list-style-type: disclosure-closed;
  margin-left: 18px !important;
}

/* mission vision */

/* why a class */
.wac_container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-bottom: 100px;
  max-width: 1550px;
}

.why_a_class .wac_left {
  display: flex;
  width: 47.71%;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  padding: 35px;
  color: #fff;
  text-align: left;
  justify-content: flex-start;
}

.why_a_class .wac_left h3 {
  margin-bottom: 20px;
  color: var(--e-global-color-primary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 20px;
  padding: 0;
}

.why_a_class .wac_left p {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-accent-font-family), Cinzel serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
}

.wac_right {
  background: linear-gradient(#2c374096, #2c374096),
    url(../images/ser_img_overlay.jpg);
  background-position: center;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 32px 40px 90px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 400px;
  width: 52.29%;
}
.wac_right.party_group {
  background: linear-gradient(#2c374096, #2c374096),
    url(../images/party_img6.jpg);
  background-position: center;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.wac_right.party_group {
  background: linear-gradient(#2c374096, #2c374096),
    url(../images/party_img6.jpg);
  background-position: center;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.wac_left.party_group {
  padding-bottom: 100px;
}
.wac_right.ul_ {
  padding: 50px 30px 90px;
}

.wac_right li {
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--e-global-color-accent);
  transition: color 0.3s;
  align-self: center;
  padding-inline-start: 5px;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.wac_right li i {
  font-size: 14px;
  color: var(--e-global-color-primary);
  padding-top: 8px;
}

.wac_right h2 {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 41px;
  margin-bottom: 20px;
}

.wac_right p {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  word-spacing: 0px;
  line-height: 1.5;
}

/* why a class */

.accordion_section {
  padding: 50px 0 100px;
}

.accordion_container {
  padding: 100px 0;
}

.accordion_container .accordion-button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 12px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  outline: none;
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--e-global-color-primary);
  text-transform: uppercase;
}

.accordion_container .accordion-button span {
  text-decoration: underline;
}

.accordion_container .accordion-button:after {
  margin: unset;
  flex-shrink: 0;
  width: unset;
  height: 20px;
  content: "\f0dd";
  font-weight: 900;
  font-family: "Font Awesome 6 Pro";
  background-image: unset;
  background-repeat: no-repeat;
  background-size: unset;
  transition: var(--bs-accordion-btn-icon-transition);
  color: var(--e-global-color-primary);
  transform: rotate(-90deg);
}

.accordion_container .accordion-button:not(.collapsed) {
  color: #000;
}

.accordion_container .accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
  color: #000;
}

.accordion_container .accordion-item {
  border: none;
}

.accordion-body {
  border-width: 0px;
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.facilities .eael-data-table {
  width: 100%;
  height: auto;
  margin: 0;
  border: none;
}

.eael-table-align-center table.eael-data-table {
  margin: 0 auto;
}

.eael-data-table {
  max-width: 100%;
}

tbody tr td {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-text-font-family), Cinzel serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.eael-data-table thead tr {
  text-align: left;
  border: 1px solid;
}

.eael-data-table thead tr th {
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", "sans-serif";
  line-height: 1;
  color: #fff;
  border-color: #000;
  border-width: 2px;
  border-style: none;
  background-clip: padding-box;
}

.eael-data-table thead tr th {
  text-align: left;
}

thead tr th:first-child {
  border-radius: 0px 0px 0px 0px;
}

.data-table-header-text {
  font-family: var(--e-global-typography-text-font-family), Cinzel serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.eael-data-table tbody tr td {
  padding: 20px 15px;
  font-size: 14px;
  font-family: "Montserrat", "sans-serif";
  line-height: 1;
  border-width: 2px;
  border-style: none;
  background-clip: padding-box;
}

tbody tr td {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-text-font-family), Cinzel serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

tbody > tr:nth-child(2n + 1) td {
  color: #000000;
}

tbody .td-content-wrapper {
  text-align: left;
}

tbody .td-content {
  font-family: var(--e-global-typography-text-font-family), Cinzel serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.th-mobile-screen {
  display: none;
}

.th-mobile-screen {
  flex-basis: 100px;
}

.eael-data-table tbody tr td {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-text-font-family), Cinzel serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.eael-data-table thead tr th {
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-secondary);
}

section.our_fleet {
  padding: 0 0 100px;
}

.our_fleet .of_card h3 {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 20px;
}

.of_card_container {
  padding: 70px 0 100px;
}

.wac_left ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  font-weight: 500;
}

.wac_left ul li .fa-circle {
  font-size: 6px;
}

.why_a_class.desert .wac_right p {
  font-weight: 400;
  padding: 20px 30px;
}

.menu_desert_img img {
  border-radius: 20px;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 45px;
}

section.menu_desert {
  padding: 150px 0;
}

.menu_desert_img {
  padding-top: 80px;
}

.menu_desert_img .heading p {
  color: var(--e-global-color-secondary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.gallary img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.gallary img:hover {
  transform: scale(1.05);
}

section.gallary {
  padding: 50px 0 100px;
}

.why_a_class.desert_uae .wac_left,
.why_a_class.desert_uae .wac_right {
  width: unset;
}

.why_a_class.desert_uae {
  padding: 50px 0 100px;
}

.why_a_class.desert_uae .container-fluid {
  max-width: 1550px;
  display: flex;
  justify-content: center;
}

.why_a_class .wac_left {
  transition: 0.3s;
}

.wac_container2 {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.why_a_class.desert_uae .wac_right.ul_ {
  padding: 50px 30px;
}

.wac_left_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background: linear-gradient(#2c37406e, #2c37406e),
    url(../images/Downloader.la-6666aac7b6b77-e1718004509862.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

.wac_left_overlay.bus_rent_in_dhabi {
  background: linear-gradient(#2c37406e, #2c37406e),
    url(../images/bus_hover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wac_left_overlay.limousine-transport {
  background: linear-gradient(#2c37406e, #2c37406e),
    url(../images/desert-safari_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wac_left_overlay.party_group {
  background: linear-gradient(#2c37406e, #2c37406e),
    url(../images/peace_party.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wac_container2:hover .wac_left_overlay {
  top: 0;
}

.wac_left_overlay h3 {
  color: #fff;
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 20px;
  padding: 0;
}

.mission_vision .accordion-header {
  margin: 0;
}

.mission_vision .accordion_container {
  padding: 50px 0 0;
}

.mission_vision .accordion_container .accordion-button,
.accordion_container .accordion-button:after {
  color: #000;
}
.fc_row {
  display: flex;
  align-items: center;
}

.fc_row h3 {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 41px;
  min-width: 35%;
}
.fc_row h3:last-child {
  min-width: unset;
}
.fc_row h3 a {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 41px;
  text-decoration: underline;
}
.fc_row h3 span {
  color: var(--e-global-color-primary);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 41px;
}
.fc_row p {
  color: var(--e-global-color-accent);
  font-family: "Plus Jakarta Sans", Cinzel serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}
.form_content {
  background-color: var(--e-global-color-secondary);
  border-radius: 15px;
  padding: 60px 50px 100px;
}
.form_content h2,
.form_content h4,
.form_content .fc_row {
  margin-bottom: 20px;
}
.form_content .fc_row:last-child {
  margin: 0;
}
.contact_form_section {
  padding: 100px 0;
}
.contact_form {
  padding: 0 30px;
}
.contact_form h5 {
  margin: 0 0 var(--wpforms-field-size-input-spacing) 0;
  padding: 0;
  font-size: var(--wpforms-label-size-font-size);
  line-height: var(--wpforms-label-size-line-height);
  color: var(--wpforms-label-color);
  display: block;
  font-weight: 700;
  font-style: normal;
  word-break: break-word;
  word-wrap: break-word;
}
.contact_form h5 span {
  color: #d63637;
  font-weight: 600;
  word-break: break-word;
  hyphens: auto;
}
.input_control {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.input_control input,
.input_control textarea {
  background-color: #ffffff;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 14px;
  font-size: 16px;
  line-height: 100%;
  box-shadow: none;
  transition: border 0.15s, box-shadow 0.15s;
  width: 100%;
}
.input_control input {
  height: 43px;
}
.input_control input::placeholder {
  font-size: 15px;
}
.input_control label {
  font-size: var(--wpforms-label-size-sublabel-font-size);
  line-height: var(--wpforms-label-size-sublabel-line-height);
  margin: var(--wpforms-field-size-sublabel-spacing) 0 0 0;
  padding: 0;
  color: var(--wpforms-label-sublabel-color);
}
.input_control .iti {
  width: 100%;
}

.map_section iframe {
  width: 100%;
  height: 400px;
}
@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1599px) {
}

@media only screen and (max-width: 1444px) {
}

@media only screen and (max-width: 1399px) {
  .banner_content {
    padding-right: 0;
  }

  .lr2 > img {
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1199px) {
  .services_cards_section {
    padding-bottom: 0;
  }

  header ul li.nav-item a {
    font-size: 15px;
  }

  section.our_fleet {
    padding-bottom: 0;
  }
  .mission_vision .accordion_container {
    padding: 0;
  }
  .fc_row h3 {
    min-width: 40%;
  }
}

@media only screen and (max-width: 992px) {
  .service_card_item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  .las_left {
    margin: 20px 0 20px 0;
    padding: 10px 0;
  }

  .little_about_section {
    padding-bottom: 0;
    padding-top: 40px;
  }

  .os_cards_container {
    padding: 50px 0px 0 0;
  }

  .accordion_container {
    padding: 50px 0 0;
  }

  .our_fleet.desert {
    padding-top: 100px;
  }

  .menu_desert_img img {
    height: 450px;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }

  .container-navbar {
    position: relative;
  }

  .navbar-collapse {
    position: absolute;
    top: 90px;
    background: #fff;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    right: 0;
    width: 100%;
  }

  .dropdown-menu.MegaMenu_menu {
    width: 100%;
  }

  header ul li.dropdown a::after {
    right: -30px;
    top: 10px;
    width: 25px;
    height: 17px;
    border: 1.5px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  header ul li.dropdown a {
    margin-right: 35px;
  }

  li.nav-item.dropdown.inner_dropdown1st a i {
    width: 25px;
    height: 17px;
    right: -50px;
    border: 1.5px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .footer_column {
    padding-right: 15px;
  }

  .os_cards_container {
    padding: 40px 0px 0 0;
  }

  section.our_services {
    padding-bottom: 50px;
  }

  .mv_left {
    justify-content: start;
    margin-bottom: 20px;
  }

  .mv_left img {
    height: 400px;
    object-fit: cover;
  }
  .mv_right {
    padding-bottom: 40px;
  }

  .mission_vision.director {
    padding-top: 50px;
  }

  .wac_container {
    flex-direction: column-reverse;
  }

  .wac_container > div {
    width: 100% !important;
  }

  .why_a_class .wac_left h3 {
    font-size: 30px;
  }

  .wac_right h2 {
    font-size: 30px;
  }

  .eael-data-table tbody tr td {
    float: none;
    clear: left;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .td-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .th-mobile-screen {
    display: inline-block;
    padding: 0 0.6em;
    margin-right: 10px;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
  }

  .td-content {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .eael-data-table .td-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .th-mobile-screen {
    text-align: center;
  }

  .eael-data-table thead {
    display: none;
  }

  .tablesorter.desert tbody {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .why_a_class.desert .wac_right p {
    padding: 0;
  }

  .of_card {
    text-align: center;
  }

  .menu_desert_img img {
    height: 350px;
  }

  section.menu_desert {
    padding: 50px 0;
  }

  section.gallary {
    padding-bottom: 0;
  }
  .mission_vision .accordion_container {
    padding: 0px 0 40px;
  }
  .mission_vision {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 576px) {
  .banner_content {
    max-width: 450px;
  }

  .banner_content h1 {
    font-size: 45px;
    line-height: 1em;
  }

  .top-header {
    justify-content: center;
  }

  .lr2 > img {
    height: 200px;
    width: 780px;
    object-fit: cover;
  }

  .any_question {
    min-height: 450px;
  }

  .footer_column {
    padding-right: 35px;
  }

  .footer_bottom {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 40px;
  }

  .banner-section2 {
    text-align: center;
    min-height: 330px;
  }
}

@media only screen and (max-width: 480px) {
  .heading-title2 {
    font-size: 34px;
  }

  .para {
    font-size: 16px;
  }

  .banner-section2 {
    min-height: 250px;
  }

  .mission_vision {
    padding: 0 0 60px;
  }
  .little_about_section.about {
    padding-bottom: 40px;
  }
  .wac_left,
  .wac_right {
    padding-bottom: 50px;
  }

  .wac_container {
    padding-bottom: 50px;
  }

  .wac_right li {
    font-size: 15px;
  }

  .data-table-header-text {
    font-weight: 600;
  }

  .data-table-header-text,
  .td-content {
    font-size: 15px !important;
  }

  .menu_desert_img .row {
    flex-direction: column;
  }

  .menu_desert_img .col-6 {
    width: 100%;
    margin-bottom: 50px;
  }

  .title,
  .title span {
    font-size: 30px;
  }

  .menu_desert_img {
    padding-top: 40px;
  }

  .menu_desert_img img {
    margin-bottom: 25px;
  }

  section.menu_desert {
    padding: 60px 0 0;
  }

  section.gallary {
    padding: 50px 0 0px;
  }

  .banner-section2 h1 {
    font-size: 35px;
  }
  .lrb1 {
    width: 40%;
  }
  .lr2 {
    width: 60%;
  }
  .mv_left img {
    height: 300px;
    object-fit: cover;
  }
  .little_about_section.desert {
    padding-top: 50px;
  }
  .our_fleet.desert {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .why_a_class .wac_left p {
    font-size: 14px;
    line-height: 20px;
  }
  .contact_form_section {
    padding: 50px 0;
  }
  .form_content {
    padding: 40px 30px;
  }
  .fc_row {
    flex-direction: column;
    align-items: start;
  }
  .fc_row h3 {
    min-width: 100%;
    font-size: 18px;
    line-height: 28px;
  }
  .fc_row h3 a,
  .fc_row h3 span {
    font-size: 16px;
    line-height: 28px;
  }
  .fc_row p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 399px) {
  .logo img {
    width: 270px;
  }

  .lr_bottom {
    flex-direction: column;
  }

  .lrb1 {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .lr2 {
    width: 100%;
    padding: 10px 0;
  }

  .lr_bottom {
    margin-top: 10px;
  }
}
